{% extends 'common/base.html' %}

{% block content %}
{% load static %}

<div class="jumbotron" style="min-height: 100%;min-height: 100vh;display: flex;align-items: center;">
    <div class="container center_div">
        <img src="{% static 'common/student.png' %}" class="rounded-circle mx-auto d-block" height="250px" width="250px"
            alt="Cinque Terre">

        {% if id == 1  %}
        <h1 class="display-5 text-center">Teacher</h1>
        {% elif id == 2 %}
        <h1 class="display-5 text-center">Parent</h1>
        {% elif id == 3 %}
        <h1 class="display-5 text-center">Admin</h1>
        {% endif %}

        <form method="post" action="login">
		{% csrf_token %}
            <div class="form-row">
                <div class="col"></div>
                <div class="col">
                    <div class="form-row form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email" name="email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-row form-group">
                        <div class="form-row form-group">
                            <div>
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1"
                                    placeholder="Password" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="form-row form-group">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
			<div>
				{% for message in messages %}
				<h3> {{message}} </h3>
				{% endfor %}
			</div>
                </div>
                <div class="col"></div>
            </div>
        </form>
    </div>
</div>
	
{% endblock %}
