{% extends 'common/base.html' %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
		<div class="container text-center">
			<h1 class="display-1">Attendence List</h1>
		</div>
	</div>
	<div class="container">
		<div class="card bg-dark border-dark" style="margin:10px;">
			
			<table class="table table-bordered  text-center text-white">
					<tr>	
						<td>Absent Roll No</td>
						{% for x in roll %}
							<td>{{x}}</td>
						{% endfor %}
					</tr><tr>	
						<td>Class</td>
						{% for x in class %}
							<td>{{x}}</td>
						{% endfor %}
					</tr><tr>	
						<td>Date</td>
						{% for x in date %}
							<td>{{x}}</td>
						{% endfor %}
					</tr>
				</table>
			<!-- {% for x in roll %}
				{{x}}
			{% endfor %}<br>
			<h3>Class</h3>
			{% for x in class %}
				{{x}}
			{% endfor %}<br>
			<h3>Date</h3>
			{% for x in date %}
				{{x}}
			{% endfor %}<br>
		 -->
			<div>
				{% for message in messages %}
				<h3> {{message}} </h3>
				{% endfor %}
			</div>
	</div>
</div>
{% endblock %}
