{% extends 'common/base.html' %}

{% block content %}    
{% load static %}

<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Who are you ?</h1>
          <p class="lead">Tell us who you are and let us help you manage better accordingly.</p>
        </div>
      </div>

<div class="container-fluid">
        <div class="row h-100 align-items-center" style="margin: 1%;">
          <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'common/student.png' %}" class="card-img-top embed-responsive-item" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Student</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                            content.</p>
                        <a href="{% url 'student_login' %}" class="btn btn-primary">Login</a>
                    </div>
                </div>
          </div>
          <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                        <img src="{% static 'common/student.png' %}" class="card-img-top embed-responsive-item" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Teacher</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                            <a href="{% url 'teacher_login' %}" class="btn btn-primary">Login</a>
                        </div>
                    </div>
          </div>
          <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                        <img src="{% static 'common/student.png' %}" class="card-img-top embed-responsive-item" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Parent</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                            <a href="{% url 'parent_login' %}" class="btn btn-primary">Login</a>
                        </div>
                    </div>
          </div>
          <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                        <img src="{% static 'common/student.png' %}" class="card-img-top embed-responsive-item" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Admin</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                content.</p>
                            <a href="{% url 'admins_login' %}" class="btn btn-primary">Login</a>
                        </div>
                    </div>
            </div>
        </div>
      </div>



{% endblock %}